<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="./css/styles.css" rel="stylesheet">
        <title>Sports Scheduler</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="flex flex-col min-h-screen justify-center items-center bg-indigo-400">
          <div class="text-7xl font-bold text-white text-shadow-lg">
            SPORTS SCHEDULER
          </div>
          <div class="grid mt-20 gap-6">
            <div class="flex justify-center">
              <a href="/signup" class="py-4 px-6 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-800 hover:text-indigo-200 text-xl">Sign Up</a>
            </div>
            <div class="flex justify-center">
              <a href="/login" class="py-4 px-6 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-800 hover:text-indigo-200 text-xl">Sign In</a>
            </div>
          </div>
        </div>
      </body>
      
</html>