<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h6 class="py-4">Signup as a new user</h6>
            <form action="/users" method="post">
                <div class="py-3">
                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" id="firstName" class="required border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" id="lastName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="required border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>  
                <div class="py-3"> 
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>  
                <div class="py-3"> 
                    <label for="role">Role:</label>
                    <select name="role" id="role" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>

                <div class="py-3"> 
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Sign up</button>        
                </div>  
            </form>
        </div>
    </div>
  </body>
</html>